.App {
  text-align: center;
}

.container {
  border: solid #000;
  display: flex;
  justify-content: center;
  margin-left: 30%;
  margin-right: 30%;

}

.calculation {
  width: 100%;
  background-color: black;
  color: #fff;
}
